@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contact-info ::placeholder{
	opacity: 0.7;
}
.contact-info h3{
	color: #fbaa1a;
	font-size: 17px;
    font-family: sans-serif;

    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
}
.contact-info h2{
    font-size:30px; 
    letter-spacing: 1px;
    font-weight: 500;
    color: #0d7459;
    
}
.contact-info p{
	color: black;
    font-size: 15px;
    letter-spacing: 0.3px;
    font-family: sans-serif;
  
  	margin-top:5px;
    margin-bottom:1rem;
    font-weight: 300;
    line-height:normal; 
}
.contact-info span{
    color: #fbaa1a;
}
/* .contact-info{
	padding-top: 7%;
} */
@media(max-width:670px){
    .map iframe{
        width: 280px!important;
    }
}